<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>


    <!--<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/admin/css/bootstrap-table.min.css}">-->


    <style type="text/css">
        tr, td {
            margin: 0 !important;
            padding: 5px 5px !important;
        }
    </style>
    <head th:replace="common/includ" />
    <head th:replace="common/layout" />
</head>

<body>
<!--<img src="/uploads/20180425/a.jpg">-->
    <!--<form method="post" action="/api/order/getOrders">-->
        <!--<input type="text" name="userId">-->
        <!--<input type="text" name="orderStatus">-->
        <!--<input type="text" name="pageNo">-->
        <!--<input type="text" name="pageSize">-->
        <!--<input type="submit" value="提交">-->
    <!--</form>-->
<div id="main" class="col-xs-12 col-sm-9 main"
     style="overflow-y: scroll;">
    <ul class="breadcrumb">
        <li><i class="fa fa-map-marker"></i></li>
        <li class="text-muted">系统</li>
        <li class="text-muted">会员管理</li>
        <li class="text-muted">会员列表</li>
    </ul>
    <!-- 主体内容区域 -->
    <div class="tab-content ct-tab-content">
        <div class="panel-body">
            <div class="builder formbuilder-box">

                <div class="form-group"></div>

                <!-- 顶部工具栏按钮 -->
                <div class="builder-toolbar">
                    <div class="row">
                        <!-- 工具栏按钮 -->
                        <!--  <div class="col-xs-12 col-sm-8 button-list clearfix">
                                    <div class="form-group">
                                        <a title="新增" class="btn btn-primary-outline btn-pill" href="/admin/user/add.html">新增</a>&nbsp;
                                    </div>
                                </div> -->

                        <!-- 搜索框 -->
                        <div id="toolBar" class="col-xs-12 col-sm-12 clearfix">
                            <form class="form">
                                <div class="form-group right">
                                    <div style="float: left; width: 120px; margin-right: 20px"
                                         class="">
                                        <select id="level" name="level" class="form-control lyui-select select">
                                            <option value="">等级：</option>
                                            <option th:selected="${tableResult.level==l.level}"  th:each="l : ${levelList}" th:value="${l.level}">[[${l.levelName}]]</option>
                                        </select>
                                    </div>

                                    <div style="float: left; width: 150px; margin-right: 20px"
                                         class="">
                                        <input id="beginDate" type="text" name="date_start"
                                               class="search-input form-control date" th:value="${tableResult.beginDate}"
                                               placeholder="开始日期">
                                    </div>
                                    <div style="float: left; width: 150px; margin-right: 20px"
                                         class="">
                                        <input id="endDate" type="text" name="date_end"
                                               class="search-input form-control date" th:value="${tableResult.endDate}"
                                               placeholder="结束日期">
                                    </div>

                                    <div style="float: left; width: 120px; margin-right: 20px"
                                         class="">
                                        <select id="type" name="querytype"
                                                class="form-control lyui-select select">
                                            <option th:selected="${tableResult.type=='account'}" value="account">账号</option>
                                            <option th:selected="${tableResult.type=='mobile'}" value="mobile">手机</option>
                                            <option th:selected="${tableResult.type=='username'}" value="username">姓名</option>
                                        </select>
                                    </div>

                                    <div style="width: 250px" class="input-group search-form">
                                        <input id="typeText" type="text" name="keyword"
                                               class="search-input form-control" th:value="${tableResult.typeText}"
                                               placeholder="输入搜索内容"> <span class="input-group-btn"><a
                                            class="btn btn-default search-btn" onclick="searchInfo()"
                                            href="javascript:void (0)"><i
                                            class="fa fa-search"></i></a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 数据列表 -->
                <div class="builder-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="builder-table">
                                <div class="panel panel-default table-responsive">
                                    <table id="userTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>UID</th>
                                            <th>等级</th>
                                            <th>用户</th>
                                            <th>财富</th>
                                            <th>注册</th>
                                            <th>上级</th>
                                            <th>类别</th>
                                            <th>状态</th>
                                            <th style="width:23%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${tableResult.pageCount==0}" class="builder-data-empty">
                                            <td class="text-center empty-info" colspan="20">
                                                <i class="fa fa-database"></i> 暂时没有数据<br>
                                            </td>
                                        </tr>
                                        <tr th:each="row : ${tableResult.rows}">
                                            <td th:text="${row.userid}"></td>
                                            <td th:text="${row.levelEntity.levelName}">
                                                消费商
                                            </td>
                                            <td>
                                                账号：<span th:text="${row.account}"></span> <br>
                                                姓名：<span th:text="${row.username}"></span> <br>
                                                手机：<span th:text="${row.mobile}"></span></td>
                                            <!-- 财富 -->
                                            <td style="white-space: nowrap;">
                                                金额：<span style="color:#dc3300"
                                                         th:text="${row.wealthEntity.money}">100</span>
                                                <br>
                                                积分：<span style="color:#dc3300" th:text="${row.wealthEntity.integral}">1091182.74</span>
                                                <!--<br>-->
                                                <!--华宝：<span style="color:#dc3300" th:text="${row.wealthEntity.huabao}">8143.88</span>-->
                                            </td>
                                            <td class="dateFormater" th:text=" ${row.regDate}">2018-02-05 08:07</td>
                                            <td>
                                                <span th:if="${row.parentName==null}">无</span>
                                                <span th:if="${row.parentName!=null}" th:text="${row.parentName}">
													</span>
                                            </td>
                                            <td th:switch="${row.userType}">
                                                <span th:case="0">个人用户</span>
                                                <span th:case="1">企业用户</span>
                                            </td>
                                            <td>
                                                <i th:if="${row.status==1}" title="正常" class="fa fa-check text-success"></i>
                                                <i th:if="${row.status==0}" title="解锁" class="fa fa-ban text-danger"></i>
                                            </td>
                                            <td>
                                                <a name="edit" title="编辑" class="label label-primary-outline label-pill"
                                                   th:href="@{'/Admin/User/edit/id/'+${row.userid}}">编辑</a>
                                                <a onclick="lockUser(this)" th:attr="userid=${row.userid}" th:if="${row.status==1}" name="forbid" title="锁定"
                                                   class="label label-warning-outline label-pill "
                                                   href="javascript:void(0)">锁定</a>
                                                <a th:attr="userid=${row.userid}" onclick="lockUser(this)" th:if="${row.status==0}" name="forbid" title="解锁"
                                                   class="label label-success-outline label-pill"
                                                   href="javascript:void(0)">解锁</a>
                                                <a th:if="${session.authID==1}" th:href="@{'/Admin/User/detail/'+${row.userid}}" title="订单" class="label label-primary-outline label-pill">订单</a>
                                                
                                                <a th:if="${session.authID==1}" th:href="@{'/Admin/User/integraldetail/'+${row.userid}}" title="积分" class="label label-primary-outline label-pill">积分</a>
                                                <a th:if="${session.authID==1}" th:href="@{'/Admin/User/moneydetail/'+${row.userid}}" title="余额" class="label label-primary-outline label-pill">余额</a>

                                                <!--<a title="登录" target="_blank"-->
                                                   <!--class="label label-primary-outline label-pill"-->
                                                   <!--th:href="@{'/admin/user/userlogin/userid/'+${row.userid}}">登录</a>-->
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination" th:if="${tableResult.pageCount!=0}">
                                    <!--当页面小于7页-->
                                    <ul class="pagination"  th:if="${tableResult.pageCount le 7}">
                                        <li th:class="${tableResult.pageNumber eq 0}? 'disabled' : ''">
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber gt 0}" th:attr="pageNum=${tableResult.pageNumber}-1" onclick="onChangePage(this)" >«</a>
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber==0}" >«</a>
                                        </li>
                                        <li th:each="i:${#numbers.sequence(0,tableResult.pageCount-1)}"  th:class="${tableResult.pageNumber eq i}? 'active' : ''">
                                            <a href="javascript:void(0)" th:pageNum="${i}" onclick="onChangePage(this)"  th:text="${i}+1"></a>
                                        </li>
                                        <li th:class="${tableResult.pageNumber eq tableResult.pageCount-1}? 'disabled' : ''">
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber!=tableResult.pageCount-1}" onclick="onChangePage(this)"  th:attr="pageNum=${tableResult.pageNumber+1}">»</a>
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber==tableResult.pageCount-1}">»</a>
                                        </li>
                                        <li><span class="rows" th:text="'共'+${tableResult.total}+'条记录'"></span></li>
                                    </ul>
                                    <!--当页面大于7-->
                                    <ul class="pagination" th:if="${tableResult.pageCount gt 7}">
                                        <!--上一页-->
                                        <li th:class="${tableResult.pageNumber eq 0}? 'disabled' : ''">
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber gt 0}" th:attr="pageNum=${tableResult.pageNumber}-1" onclick="onChangePage(this)" >«</a>
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber==0}" >«</a>
                                        </li>
                                        <!--首页-->
                                        <li  th:class="${tableResult.pageNumber eq 0}? 'active' : ''">
                                            <a href="javascript:void(0)" th:pageNum="0" onclick="onChangePage(this)"  th:text="1"></a>
                                        </li>
                                        <!-- 当前页面小于等于4 -->
                                        <li th:class="${(tableResult.pageNumber + 1) eq i} ? 'active' : ''" th:if="${(tableResult.pageNumber+1) le 4}" th:each="i : ${#numbers.sequence(2,5)}"  >
                                            <a href="javascript:void(0)" th:pageNum="${i}-1" onclick="onChangePage(this)" th:text="${i}"></a>
                                        </li>
                                        <li class="disabled" th:if="${(tableResult.pageNumber+1) le 4}" >
                                            <a href="javascript:void(0)" >...</a>
                                        </li>
                                        <!-- 最后一页与当前页面之差，小于等于3 -->
                                        <li class="disabled" th:if="${(tableResult.pageCount-(tableResult.pageNumber + 1)) le 3}" >
                                        <a href="javascript:void(0)">...</a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(tableResult.pageCount-4, tableResult.pageCount-1)}" th:class="${(tableResult.pageNumber + 1) eq i} ? 'active' : ''" th:if="${(tableResult.pageCount-(tableResult.pageNumber + 1)) le 3}" >
                                            <a href="javascript:void(0)" onclick="onChangePage(this)" th:pageNum="${i} - 1" th:text="${i}"  ></a>
                                        </li>
                                        <!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->
                                        <li class="disabled" th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}" >
                                            <a href="javascript:void(0)">...</a>
                                        </li>
                                        <li th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
                                            <a href="javascript:void(0)" th:pageNum="${tableResult.pageNumber}-1" th:text="${tableResult.pageNumber}"  onclick="onChangePage(this)"></a>
                                        </li>
                                        <li class="active"  th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
                                            <a href="javascript:void(0)" th:pageNum="${tableResult.pageNumber}" th:text="${tableResult.pageNumber}+1"></a>
                                        </li>
                                        <li   th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
                                            <a href="javascript:void(0)" onclick="onChangePage(this)" th:pageNum="${tableResult.pageNumber}+1"  th:text="${tableResult.pageNumber}+2"></a>
                                        </li>
                                        <li class="disabled"  th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
                                            <a href="javascript:void(0)">...</a>
                                        </li>
                                        <!--最后一页-->
                                        <li  th:class="${(tableResult.pageNumber + 1) eq tableResult.pageCount} ? 'active' : ''" >
                                            <a href="javascript:void(0)" th:pageNum="${tableResult.pageCount-1}" onclick="onChangePage(this)"  th:text="${tableResult.pageCount}"></a>
                                        </li>
                                        <!--下一页-->
                                        <li th:class="${tableResult.pageNumber eq tableResult.pageCount-1}? 'disabled' : ''">
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber!=tableResult.pageCount-1}" onclick="onChangePage(this)"  th:attr="pageNum=${tableResult.pageNumber+1}">»</a>
                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber==tableResult.pageCount-1}">»</a>
                                        </li>
                                        <li><span class="rows" th:text="'共'+${tableResult.total}+'条记录'"></span></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>



<script type="text/javascript"
        th:src="@{/admin/libs/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript"
        th:src="@{/admin/libs/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:inline="javascript">
    function lockUser(obj) {
        var userid=$(obj).attr("userid");
        var flag=confirm("确认要执行此操作吗");
        if(flag) {
            $.ajax({
                url:'/Admin/User/setstatus/status/forbid/ids/'+userid,
                method:"POST",
                dataType:'json',
                success:function (data) {
                   if(data.status==200) {
                       $.alertMessager(data.message, 'success','',setTimeout(function(){location.reload(true);},1000));
                   }
                   else {
                       alert(data.message);
                   }
                }
            })
        }
    }
    function searchInfo() {//搜索按钮功能
        var level=$('#level').val();//获取搜索参数
        var beginDate=$('#beginDate').val();
        var endDate=$('#endDate').val()
        var type=$('#type').val();
        var typeText=$('#typeText').val();//获取搜索参数
        var href='/Admin/User/index?pageNumber=0&pageSize=10';//初始化
        href+="&level="+level+"&beginDate="+beginDate+"&endDate="+endDate+"&type="+type+"&typeText="+typeText;
        location.href=href;
    }
    function onChangePage(event) {//点击分页钮跳转
        var href=location.href;//获取
        var index= href.indexOf("pageNumber")
        if(index==-1) {
            href+="?pageNumber=0&pageSize=10";
        }
        index=href.indexOf("pageNumber");
        var index2=href.indexOf("&");
        var prefix=href.substr(0,index);//获取pageNumber前的文本
        var end=href.substr(index2,href.length);//获取&后的文本
        href=prefix+"pageNumber="+$(event).attr("pageNum")+end;//重写url
        location.href=href;
    }
    function changeDateFormat(value) {//日期格式化
        var date = new Date();
        date.setTime(value * 1000);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        var d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        var h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        var minute = date.getMinutes();
        var second = date.getSeconds();
        minute = minute < 10 ? ('0' + minute) : minute;
        second = second < 10 ? ('0' + second) : second;
        return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
    }

    $('.dateFormater').each(function (index, element) {
        $(this).text(changeDateFormat($(this).text()))
    })
</script>
<script type="text/javascript">
    $('.date').datetimepicker({//日期插件
        format: 'yyyy-mm-dd',
        language: "zh-CN",
        minView: 2,
        autoclose: true,
        todayBtn: 1, //是否显示今日按钮
    })
</script>