<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="common/includ" />
	<head th:replace="common/layout" />
</head>
<body>
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li>商城</li>
            <li>商品管理</li>
            <li>商品模型</li>
            <li class="text-muted">新增</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                 <form action="/goodAttr/update" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="id" th:value="${attr==null}?'0':${attr.id}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="left control-label">所属模型：</label>
                                                <div class="right">
                                                    <select name="modelId" id="modelId" class="form-control cui-select select" th:attr="modelId=${mid}">
                                                        <option value="">请选择：</option>
                                                    </select>
                                                </div>
           
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">规格名称：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="attrName" th:value="${attr==null}?'':${attr.attrName}" placeholder="规格名称" >
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="left control-label">规格项：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="attrValue" th:value="${attr==null}?'':${attr.attrValue}" placeholder="规格项" >
                                                    <span class="check-tips text-muted small">每个值间用英文‘,’号隔开</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="left control-label">排序：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="attrOrder" th:value="${attr==null}?'':${attr.attrOrder}" placeholder="排序" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')">
                                                    <span style="color: #999;">根据排序进行由大到小排列显示。</span>
                                                </div>
                                            </div>
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
    <script type="text/javascript">
    $(function() {
		 ModelList();
	})
  //商品模型
    function ModelList(){
  	  var id = $('#modelId').attr('modelId');
    	if(id==''||id==null){
    		id = 0;
    	}
    	var url = "/Adminmall/Goodmodel/all/"+id
  	  $.ajax({  
           url: url, 
           dataType:"json",
           success: function (data) {  
              $("#modelId").append(data); 
           },  
           error: function (XMLHttpRequest, textStatus, errorThrown) {  
               alert("error");  
           }  
       }); 
  };
    </script>
</body>
</html>