<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
<meta charset="UTF-8">
<link rel="stylesheet" href="/home/wap/home/css/style.css">
<link rel="stylesheet" href="/home/wap/home/css/component.css">
<script src="/home/wap/mall/js/jquery-1.7.1.min.js"></script>
<script src="/home/wap/mall/js/jquery.touchSlider.js"></script>
<script src="/home/wap/mall/js/js.js"></script>
<script src="/home/layer_mobile/layer.js"></script>
<title>华彩天下</title>
</head>
<body>
<div class="zxzx_xq">
	<h3 th:text="${news_detail.title}"></h3>
	<p class="dateFormater" th:text="${news_detail.addtime}"></p>
	<p th:text="${'浏览次数：' + news_detail.times}"></p>
</div>
<div class="zxzx_b" th:utext="${news_detail.content}">
</div>
<div style="padding-bottom: 10vmin;float: left;width: 100%"></div>
	<script type="text/javascript">
		function changeDateFormat(value) {//日期格式化
			var date = new Date();
			date.setTime(value * 1000);
			var y = date.getFullYear();
			var m = date.getMonth() + 1;
			m = m < 10 ? ('0' + m) : m;
			var d = date.getDate();
			d = d < 10 ? ('0' + d) : d;
			var h = date.getHours();
			h = h < 10 ? ('0' + h) : h;
			var minute = date.getMinutes();
			var second = date.getSeconds();
			minute = minute < 10 ? ('0' + minute) : minute;
			second = second < 10 ? ('0' + second) : second;
			return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':'
					+ second;
		}

		$('.dateFormater').each(function(index, element) {
			$(element).text(changeDateFormat($(element).text()))
		})
	</script>
</body>
</html>