<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
<meta charset="UTF-8">
<script src="/admin/libs/jquery/1.x/jquery.min.js"></script>
<link rel="stylesheet" href="/home/wap/home/css/style.css">
<link rel="stylesheet" href="/admin/layer/mobile/need/layer.css">
<title>华彩天下</title>

 <style type="text/css">
      select {
          width: 86%;
          border: 1px solid #f1f1f1;
          line-height: 10vmin;
          padding-left: 3%;
          margin-left: 5%;
          display: block;
          margin-top: 5%;
      }
  </style>
</head>
<body>
  <div class="register">
   <form name="registeruser">
      <input class="mob" placeholder="请输入您的手机号" type="text" name="mobile" maxlength="11">
		<input name="verificationCode" placeholder="验证码" type="text">
		<i id="yzm-code" onclick="sendMessage()" style="margin-top:-15vmin;">获取验证码</i>
		<input name="account" type="text" placeholder="请输入您的账户名">
		<input name="loginPwd" placeholder="请输入登录密码" type="password">
		<input name="confirmLoginPwd" placeholder="请再次确认登录密码" type="password">
		<input name="parent" th:value="${mobile}" placeholder="分享人手机或用户名" type="text" readonly="readonly">
		<input name="companyName" placeholder="请输入公司名称" type="text">
 		<input name="companyLicense" placeholder="请输入营业执照号码" type="text">
		<input name="userType"  type="hidden"  value="1" >
		<select class="bor_no bf100" name="companyOrganize">
			<option value="">请选择组织机构类型</option>
			<option value="企业">企业</option>
			<option value="事业单位">事业单位</option>
			<option value="机关">机关</option>
			<option value="社会团体">社会团体</option>
			<option value="民办非企业单位">民办非企业单位</option>
			<option value="基金会">基金会</option>
			<option value="居委会">居委会</option>
			<option value="村委会">村委会</option>
			<option value="其他组织机构">其他组织机构</option>
			</select>
      
		<span id="register" onclick="adduser()" >立即注册</span>
		<input type="checkbox" name="is_agree" style="width: 6%;display: table-cell;" value="1" >阅读并接受 <a href="{:url('Login/agreement')}">《用户注册协议》</a>
    </form>
  </div>
  <script type="text/javascript" src="__COM__/js/sendmessage.js" ></script>
  <script type="text/javascript">
  function sendMessage() {
		data = {
			"mobile" : $("input[name='mobile']").val()
		};
		$.ajax({
			type : "POST",
			url : "/api/user/getVerifyingCode",
			data : JSON.stringify(data),
			contentType : "application/json",
			dataType : "json",
			success : function(data) {
				if (data.code == 1) {
					alert("发送验证码成功");
				} else {
					alert(data.errorMsg);
				}
			}
		});
	}
    //用户注册
    function adduser(){
      
		//验证注册
		var thisform = document.forms['registeruser'];
		var reg = /^[0-9a-zA-Z]{6,20}$/;
		var pid = thisform.parent.value;//推荐人
		var account = thisform.account.value;//账号
		var mobile = thisform.mobile.value;
		var login_pwd = thisform.loginPwd.value;
		var relogin_pwd = thisform.confirmLoginPwd.value;
		var companyName=thisform.companyName.value;
		var companyLicense=thisform.companyLicense.value;
		var companyOrganize=thisform.companyOrganize.value;
		var code=thisform.verificationCode.value;
          
          if(mobile=='' || mobile==null){
            alert('手机号码不能为空');
            thisform.usermobile.focus();
            return false;
          }
          if(!/1[34578]\d{9}$/.test(mobile)){
            alert('手机号码格式不正确');
            thisform.usermobile.focus();
            return false;
          }

          if(code=='' || code==null){
            alert('验证码不能为空');
            thisform.code.focus();
            return false;
          }

          if(account=='' || account==null){
            alert('用户名不能为空');
            thisform.useraccount.focus();
            return false;
          }
          if(!/^[0-9a-zA-Z]{6,20}$/.test(account)){
              alert("用户名只能为6-20位数字或字母");
              thisform.useraccount.focus();
              return false;
          } 

          if(pid=='' || pid==null){
            alert('推荐人不能为空');
            thisform.parent.focus();
            return false;
          }
          if(login_pwd=='' || login_pwd==null){
            alert('登录密码不能为空');
            thisform.userlogin.focus();
            return false;
          }
          if(!reg.test(login_pwd)){
              alert("登录密码只能为6-20位数字或字母");
              thisform.userlogin.focus();
              return false;
          } 
          if(login_pwd!=relogin_pwd){
              alert("两次输入登录密码不一致");
              return false;
          }
          if(companyName=='' || companyName==null){
            alert('公司名称不能为空');
            thisform.companyName.focus();
            return false;
          }
          if(companyLicense=='' || companyLicense==null){
            alert('营业执照号码不能为空');
            thisform.companyLicense.focus();
            return false;
          }
          if(companyOrganize=='' || companyOrganize==null){
            alert('请选择组织机构类型');
            thisform.companyOrganize.focus();
            return false;
          }
          var agree=$('input[name="is_agree"]').prop('checked');
          if(!agree){
            alert("请同意注册协议");
            return false;
          }

          var post_data = $("form[name='registeruser']").serializeObject();
  		$.ajax({
  			type : "POST",
  			url : "/api/user/register",
  			data : JSON.stringify(post_data),
  			contentType : "application/json",
  			dataType : "json",
  			success : function(data) {
  				console.log(data);
  				if (data.code == 1) {
  					location.href="/home/login/appdownload";
  				} else {
  					alert(data.message);
  				}
  			}
  		});
    }
    /**
     * 自动将form表单封装成json对象
     */
	$.fn.serializeObject = function() {
		var o = {};
		var a = this.serializeArray();
		$.each(a, function() {
			if (o[this.name]) {
				if (!o[this.name].push) {
					o[this.name] = [ o[this.name] ];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	};

  </script>
</body>
</html>