<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
<meta charset="UTF-8">
<link rel="stylesheet" href="/home/wap/home/css/style.css">
<link rel="stylesheet" href="/admin/layer/mobile/need/layer.css">
<script src="/admin/libs/jquery/1.x/jquery.min.js"></script>
<title>华彩天下</title>
</head>
<body>
	<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
}
</style>
	<div class="fxm-bg fx_bg" style="margin-top: -13vmin;">
		<div class="fxm_main" style="padding-top: 8%">
			<h3
				style="text-align: center; padding-bottom: 0; background: #fbfbfb; width: 64%; margin-left: 24%; line-height: 9vmin; border-radius: 6vmin; padding: 0;">
				<p style="display: inline-block;">分享ID：</p>
				<p th:text="${account}" style="display: inline-block;"></p>
			</h3>
			<p id="ewma">
				<img th:src="@{'/' + ${code_path}}">
			</p>
			<p style="text-align: left; background: #fff; padding: 1%; border-radius: 2vmin; margin-top: 4%; font-size: 3.5vmin;">
				分享链接： <input readonly="true" type="text" style="word-wrap: break-word; width: 100%" id="txt" th:value="${url}" />
			</p>
			<span onclick="copyUrl()"
				style="background: #088eeb; width: 100%; line-height: 12vmin; border-radius: 2vmin;">复制链接</span>
		</div>
	</div>
</body>
<script type="text/javascript">
	function copyUrl() {
		var txt = document.getElementById("txt").value;
		copy(txt);
	}

	function copy(message) {
		var input = document.createElement("input");
		input.value = message;
		document.body.appendChild(input);
		input.select();
		input.setSelectionRange(0, input.value.length), document
				.execCommand('Copy');
		document.body.removeChild(input);
		alert("复制成功");
	}
</script>
</html>