<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
	<head th:replace="common/includ" />
	<head th:replace="common/layout" />
</head>

<body>
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <li>商城</li>
            <li>商品管理</li>
            <li class="text-muted">商品列表</li>
        </ul>
            
        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                        
                        <div class="form-group"></div>

                        <!-- 顶部工具栏按钮 -->
                        <div class="builder-toolbar">
                            <div class="row">
                                <!-- 工具栏按钮 -->
                                 <!--    <div class="col-xs-12 col-sm-8 button-list clearfix">
                                        <div class="form-group">
                                            <a title="新增" class="btn btn-primary-outline btn-pill" href="/Adminmall/Good/add">新增</a>&nbsp;
                                        </div>
                                    </div> -->
							
                                <!-- 搜索框 -->
                                <div class="col-xs-12 col-sm-4 clearfix">
                                    <form class="form" method="get">
                                        <div class="form-group">
                                        	<div style="float: left; width: 120px; margin-right: 20px">
                                        		<input type="hidden" name = "pageNumber" id = "pageNumber" value = "0">
                                                <input type="hidden" name = "pageSize" id = "pageSize" value = "10">
												<select name="querytype" id="type" class="form-control lyui-select select">
													<option value="">选择类型</option>
													<option th:selected="${tableResult.type=='isRecommend'}?true" value="isRecommend">推荐</option>
													<option th:selected="${tableResult.type=='isNew'}?true" value="isNew">新品</option>
													<option th:selected="${tableResult.type=='isHot'}?true" value="isHot">热卖</option>
												</select>
											</div>
                                            <div class="input-group search-form">
                                            	
                                                <input type="text" name="typeText" id="typeText" class="search-input form-control" placeholder="请输入商品名称" th:value="${tableResult==null}?'':${tableResult.typeText}">
                                                <span class="input-group-btn" onclick="searchByKeyword()"><a class="btn btn-default"><i class="fa fa-search"></i></a></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 数据列表 -->
                        <div class="builder-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="builder-table">
                                        <div class="panel panel-default table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                              <thead>
                                                <tr>
                                                    <!-- <th>
                                                    <input class="check-all" type="checkbox">
                                                    </th> -->
                                                    <th>ID</th>
                                                    <th>名称</th>
                                                    <th>编号</th>
                                                    <th>分类</th>
                                                    <th>价格</th>
                                                    <th>库存</th>
                                                    <th>销量</th>
                                                    <th>排序</th>
                                                   <!--  <th>上/下架</th> --> 
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                 <tbody>
                                                        <tr th:each="row,rowStart : ${tableResult.rows}" th:if="${not #lists.isEmpty(tableResult.rows)}">
                                                            <!-- <td>
                                                                <input class="ids" type="checkbox" th:value="${row.goodId}" name="ids[]">
                                                            </td> -->
                                                            <td th:text="${row.goodId}"></td>
                                                            <td><p style="width: 208px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0;padding: 0;" th:text="${row.goodName}"></p></td>
                                                            <td th:text="${row.goodNo}"></td>
                                                            <td th:text="${row.yskGoodCategoryEntity.name}"></td>
                                                            <td th:text="${row.goodPrice}"></td>
                                                            <td th:text="${row.goodStore}"
                                                                th:style="'color:'+${configValue>=row.goodStore ? 'red' : ''}"></td>
                                                            <td th:text="${row.goodSellNum}"></td>
                                                            <td th:text="${row.goodSort}">
                                                                <!-- <input class="inputtxt" th:attr="data=${row.goodId}" type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" size="4" th:value="${row.goodSort}"> -->
                                                            </td>
                                                         <!--    <td>
                                                              <span th:if="${row.status}==1">
                                                                    <i class="fa fa-check text-success"></i>
                                                                     <a name="forbid" title="下架" class="label label-warning-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/putOnSale/'+${row.goodId}">下架</a>
                                                               </span>
                                                              <span th:if="${row.status}==0">
                                                                    <i class="fa fa-ban text-danger"></i>
                                                                    <a name="forbid" title="上架" class="label label-success-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/putOnSale/'+${row.goodId}">上架</a>
                                                               </span>
                                                            </td> -->
                                                            <td>
                                                            	<!-- 推荐 -->
                                                            	<span th:if="${row.isRecommend}==0">
                                                            		<a name="recommend" title="设为推荐" class="label label-warning-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/turnRecommend/'+${row.goodId}">设为推荐</a>
                                                 				</span>
                                                 				<span th:if="${row.isRecommend}==1">
                                                            		<a name="recommend" title="取消推荐" class="label label-warning-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/turnRecommend/'+${row.goodId}">取消推荐</a>
                                                 				</span>
                                                 				<!-- 新品 -->
                                                 				<span th:if="${row.isNew}==0">
                                                 					<a name="new" title="设为新品" class="label label-success-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/turnNew/'+${row.goodId}">设为新品</a>  
                                                 				</span>	
                                                 				<span th:if="${row.isNew}==1">
                                                 					<a name="new" title="取消新品" class="label label-success-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/turnNew/'+${row.goodId}">取消新品</a>  
                                                 				</span>	
                                                 				<!-- 热卖 -->
                                                 				<span th:if="${row.isHot}==0">
	                                                 				<a name="hot" title="设为热卖" class="label label-danger-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/turnHot/'+${row.goodId}">设为热卖</a>
                                                               	</span>
                                                               	<span th:if="${row.isHot}==1">
	                                                 				<a name="hot" title="取消热卖" class="label label-danger-outline label-pill ajax-get confirm" th:href="'/Adminmall/Good/turnHot/'+${row.goodId}">取消热卖</a>
                                                               	</span>
                                                               <!--   <a name="edit" title="编辑" class="label label-primary-outline label-pill" th:href="'/Adminmall/Good/findById/'+${row.goodId}">编辑</a>

                                                                <a name="delete" title="删除" class="label label-danger-outline label-pill ajax-get confirm" model="Admin" th:href="'/Adminmall/Good/deleteGood/'+${row.goodId}">删除</a> -->
                                                      		</tr>
                                                   
														<tr class="builder-data-empty" th:if="${#lists.isEmpty(tableResult.rows)}">
                                                            <td class="text-center empty-info" colspan="20">
                                                                <i class="fa fa-database"></i> 暂时没有数据<br>
                                                            </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="pagination" th:if="${tableResult.pageCount!=0}">
                                    		<!--当页面小于7页-->
                                    		<ul class="pagination"  th:if="${tableResult.pageCount le 7}">
                                        		<li th:class="${tableResult.pageNumber eq 0}? 'disabled' : ''">
                                            		<a href="javascript:void(0)" th:if="${tableResult.pageNumber gt 0}" th:attr="pageNum=${tableResult.pageNumber}-1" onclick="onChangePage(this)" >«</a>
                                            		<a href="javascript:void(0)" th:if="${tableResult.pageNumber==0}" >«</a>
                                       			</li>
                                        		<li th:each="i:${#numbers.sequence(0,tableResult.pageCount-1)}"  th:class="${tableResult.pageNumber eq i}? 'active' : ''">
                                            		<a href="javascript:void(0)" th:pageNum="${i}" onclick="onChangePage(this)"  th:text="${i}+1"></a>
                                        		</li>
                                        		<li th:class="${tableResult.pageNumber eq tableResult.pageCount-1}? 'disabled' : ''">
                                            		<a href="javascript:void(0)" th:if="${tableResult.pageNumber!=tableResult.pageCount-1}" onclick="onChangePage(this)"  th:attr="pageNum=${tableResult.pageNumber+1}">»</a>
                                            		<a href="javascript:void(0)" th:if="${tableResult.pageNumber==tableResult.pageCount-1}">»</a>
                                        		</li>
                                        		<li><span class="rows" th:text="'共'+${tableResult.total}+'条记录'"></span></li>
                                    		</ul>
                                    		<!--当页面大于7-->
                                   			<ul class="pagination" th:if="${tableResult.pageCount gt 7}">
                                        		<!--上一页-->
                                        		<li th:class="${tableResult.pageNumber eq 0}? 'disabled' : ''">
                                            		<a href="javascript:void(0)" th:if="${tableResult.pageNumber gt 0}" th:attr="pageNum=${tableResult.pageNumber}-1" onclick="onChangePage(this)" >«</a>
                                            		<a href="javascript:void(0)" th:if="${tableResult.pageNumber==0}" >«</a>
                                        		</li>
                                        		<!--首页-->
                                        		<li  th:class="${tableResult.pageNumber eq 0}? 'active' : ''">
                                            		<a href="javascript:void(0)" th:pageNum="0" onclick="onChangePage(this)"  th:text="1"></a>
                                        		</li>
                                        		<!-- 当前页面小于等于4 -->
                                        			<li th:class="${(tableResult.pageNumber + 1) eq i} ? 'active' : ''" th:if="${(tableResult.pageNumber+1) le 4}" th:each="i : ${#numbers.sequence(2,5)}"  >
                                            		<a href="javascript:void(0)" th:pageNum="${i}-1" onclick="onChangePage(this)" th:text="${i}"></a>
                                        		</li>
                                        		<li class="disabled" th:if="${(tableResult.pageNumber+1) le 4}" >
                                            		<a href="javascript:void(0)" >...</a>
                                        		</li>
                                        		<!-- 最后一页与当前页面之差，小于等于3 -->
                                        		<li class="disabled" th:if="${(tableResult.pageCount-(tableResult.pageNumber + 1)) le 3}" >
                                        			<a href="javascript:void(0)">...</a>
                                        		</li>
                                        		<li th:each="i : ${#numbers.sequence(tableResult.pageCount-4, tableResult.pageCount-1)}" th:class="${(tableResult.pageNumber + 1) eq i} ? 'active' : ''" th:if="${(tableResult.pageCount-(tableResult.pageNumber + 1)) le 3}" >
                                            		<a href="javascript:void(0)" onclick="onChangePage(this)" th:pageNum="${i} - 1" th:text="${i}"  ></a>
                                        		</li>
                                        		<!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->
                                        		<li class="disabled" th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}" >
                                            		<a href="javascript:void(0)">...</a>
                                        		</li>
                                        		<li th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
                                            		<a href="javascript:void(0)" th:pageNum="${tableResult.pageNumber}-1" th:text="${tableResult.pageNumber}"  onclick="onChangePage(this)"></a>
                                        		</li>
                                        		<li class="active"  th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
                                            		<a href="javascript:void(0)" th:pageNum="${tableResult.pageNumber}" th:text="${tableResult.pageNumber}+1"></a>
                                        		</li>
		                                        <li   th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
		                                            <a href="javascript:void(0)" onclick="onChangePage(this)" th:pageNum="${tableResult.pageNumber}+1"  th:text="${tableResult.pageNumber}+2"></a>
		                                        </li>
		                                        <li class="disabled"  th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}"  >
		                                            <a href="javascript:void(0)">...</a>
		                                        </li>
		                                        <!--最后一页-->
		                                        <li  th:class="${(tableResult.pageNumber + 1) eq tableResult.pageCount} ? 'active' : ''" >
		                                            <a href="javascript:void(0)" th:pageNum="${tableResult.pageCount-1}" onclick="onChangePage(this)"  th:text="${tableResult.pageCount}"></a>
		                                        </li>
		                                        <!--下一页-->
		                                        <li th:class="${tableResult.pageNumber eq tableResult.pageCount-1}? 'disabled' : ''">
		                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber!=tableResult.pageCount-1}" onclick="onChangePage(this)"  th:attr="pageNum=${tableResult.pageNumber+1}">»</a>
		                                            <a href="javascript:void(0)" th:if="${tableResult.pageNumber==tableResult.pageCount-1}">»</a>
		                                        </li>
		                                        <li><span class="rows" th:text="'共'+${tableResult.total}+'条记录'"></span></li>
                                    		</ul>
                                		</ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
    </div>                   
</div>
    <script type="text/javascript">
    	//关键字搜索  
        function searchByKeyword(){
        	var typeText = $("#typeText").val();
        	var type = $("#type").val();
        	//alert(typeText);
        	//alert(type);
	        if(typeText==null||typeText==''){
	        	if(type==null||type==''){
	        		var href='/Adminmall/Good/index?pageNumber=0&pageSize=10';//初始化
	        	}else{
	        		var href='/Adminmall/Good/index?pageNumber=0&pageSize=10';//初始化
	                href+="&type="+type;
	        	}
    		}else{
    			if(type==null||type==''){
	        		var href='/Adminmall/Good/index?pageNumber=0&pageSize=10';//初始化
	        		href+="&typeText="+typeText;
	        	}else{
	        		var href='/Adminmall/Good/index?pageNumber=0&pageSize=10';//初始化
	                href+="&type="+type+"&typeText="+typeText;
	        	}
    		}
	        location.href=href; 
        };
        // 表格快速编辑功能，input失去焦点时自动保存数据。
        $(document).on('change', '.inputtxt', function() {

            var id = $(this).attr('data');
            var val = $(this).val();
            if(val=='' || val==null){
              $.alertMessager('请填写一个值', 'danger');
              return false;
            }
            
            var url="/Adminmall/Good/updateSort?id="+id+"&sort="+val;
            $.ajax({
                dataType: "json",
                url: url,
                type:'POST',
                success:function(data){
                    if (data.status == 1) {
                    	$.alertMessager('修改成功！', 'success');
                         setTimeout(function(){//两秒后跳转  
                         	location.reload();
                          },2000);
                    } else {
                    	$.alertMessager('修改失败！', 'danger');
                    }
                },
                error: function(e) {
                    if (e.responseText) {
                        alert(e.responseText);
                    }
                }
            });
        });
        function onChangePage(event) {//点击分页钮跳转
	        var href=location.href;//获取
	        var typeText = $("#typeText").val();
	        var index= href.indexOf("pageNumber")
	        if(index==-1) {
	            href+="?pageNumber=0&pageSize=10";
	        }
	        index=href.indexOf("pageNumber");
	        indexhhh=href.indexOf("?");
	        var index2=href.indexOf("&");
	        if(typeText==null||typeText==''){
	        	var prefix=href.substr(0,indexhhh+1);//获取?前的文本
	        }else{
	        	var prefix=href.substr(0,index);//获取pageNumber前的文本
	        }	        
	        var end=href.substr(index2,href.length);//获取&后的文本
	        href=prefix+"pageNumber="+$(event).attr("pageNum")+end;//重写url
	        location.href=href;
	    }
    </script>
</body>