<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="common/includ" />
	<head th:replace="common/layout" />
	
</head>

<body>

	<div id="main" class="col-xs-12 col-sm-9 main"
		style="overflow-y: scroll;">
		<!-- 面包屑导航 -->
		<ul class="breadcrumb">
			<li><i class="fa fa-map-marker"></i></li>
			<li>商城</li>
			<li>评论管理</li>
			<li class="text-muted">商家评论</li>
		</ul>
		<!-- 主体内容区域 -->
		<div class="tab-content ct-tab-content">
			<div class="panel-body">
				<div class="builder formbuilder-box">

					<div class="form-group"></div>
					
                                <!-- 工具栏按钮 -->
                                    <div class="col-xs-12 col-sm-8 button-list clearfix">
                                        <div class="form-group">
                                           
                                        </div>
                                    </div>

						
						<!-- 搜索框 -->
							<div class="col-xs-12 col-sm-4 clearfix">
								<form class="form">
									<div class="form-group">
										<div class="input-group search-form">
											<input type="text" id="keyword" name="keyword"
												class="search-input form-control"
												th:value="${tableResult.keyword}" placeholder="请输入id/关键字">
											<span class="input-group-btn"><a
												class="btn btn-default search-news" onclick="searchNews()"><i
													class="fa fa-search"></i></a></span>
										</div>
									</div>
								</form>
							</div>
						</div>
					
					
					<!-- 数据列表 -->
					  <div class="builder-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="builder-table">
                                        <div class="panel panel-default table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                              
                                              <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <td>商家</td>
                                                    <th>评论内容</th>
                                                    <th>评论商品</th>
                                                    <th>评论星级</th>
                                                    <th>用户</th>
                                                    <th>时间</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tr th:each="row,rowStart : ${tableResult.rows}"
													th:if="${not #lists.isEmpty(tableResult.rows)}">
													<td th:value="${row.id}" th:text="${row.id}"></td>
													<td th:value="${row.shopInfoEntity.shopName}" th:text="${row.shopInfoEntity.shopName}"></td>
													<td th:value="${row.content}" th:text="${row.content}"></td>
													<td th:value="${row.goodName}" th:text="${row.goodName}"></td>
													
								    			 <td>	
								    			
                                                   
                                                           
                                                                服务能力：<span style="color:red" th:text="${row.starAbility + '星'}"></span><br/>
                                                                服务态度：<span style="color:red" th:text="${row.starAbility+ '星'}"></span><br/>
                                                                价格合理：<span style="color:red" th:text="${row.starAbility+ '星'}"></span>
                                                                
                                                            </td>
                         				 <td th:value="${row.username+'('+row.mobile +')'}" th:text="${row.username+'('+row.mobile+')'}"></td>
                         				 <td class="dateFormater" th:text="${row.createTime}">}</td>
<!--                          				  <td th:value="${row.createTime}" th:text="${row.createTime}"></td> -->
                         				  <td> <a
														name="delete" title="删除"
														class="label label-danger-outline label-pill ajax-get confirm"
														model="news_title"
														th:href="@{'/Adminmall/comment/deletebrand?id='+${row.id}}">删除</a>
												</tr>
												
												<tr class="builder-data-empty"
													th:if="${#lists.isEmpty(tableResult.rows)}">
													<td class="text-center empty-info" colspan="20"><i
														class="fa fa-database"></i> 暂时没有数据<br></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<ul class="pagination" th:if="${tableResult.pageCount!=0}">
										<!--当页面小于7页-->
										<ul class="pagination" th:if="${tableResult.pageCount le 7}">
											<li
												th:class="${tableResult.pageNumber eq 0}? 'disabled' : ''">
												<a href="javascript:void(0)"
												th:if="${tableResult.pageNumber gt 0}"
												th:attr="pageNum=${tableResult.pageNumber}-1"
												onclick="onChangePage(this)">«</a> <a
												href="javascript:void(0)"
												th:if="${tableResult.pageNumber==0}">«</a>
											</li>
											<li
												th:each="i:${#numbers.sequence(0,tableResult.pageCount-1)}"
												th:class="${tableResult.pageNumber eq i}? 'active' : ''">
												<a href="javascript:void(0)" th:pageNum="${i}"
												onclick="onChangePage(this)" th:text="${i}+1"></a>
											</li>
											<li
												th:class="${tableResult.pageNumber eq tableResult.pageCount-1}? 'disabled' : ''">
												<a href="javascript:void(0)"
												th:if="${tableResult.pageNumber!=tableResult.pageCount-1}"
												onclick="onChangePage(this)"
												th:attr="pageNum=${tableResult.pageNumber+1}">»</a> <a
												href="javascript:void(0)"
												th:if="${tableResult.pageNumber==tableResult.pageCount-1}">»</a>
											</li>
											<li><span class="rows"
												th:text="'共'+${tableResult.total}+'条记录'"></span></li>
										</ul>
										<!--当页面大于7-->
										<ul class="pagination" th:if="${tableResult.pageCount gt 7}">
											<!--上一页-->
											<li
												th:class="${tableResult.pageNumber eq 0}? 'disabled' : ''">
												<a href="javascript:void(0)"
												th:if="${tableResult.pageNumber gt 0}"
												th:attr="pageNum=${tableResult.pageNumber}-1"
												onclick="onChangePage(this)">«</a> <a
												href="javascript:void(0)"
												th:if="${tableResult.pageNumber==0}">«</a>
											</li>
											<!--首页-->
											<li th:class="${tableResult.pageNumber eq 0}? 'active' : ''">
												<a href="javascript:void(0)" th:pageNum="0"
												onclick="onChangePage(this)" th:text="1"></a>
											</li>
											<!-- 当前页面小于等于4 -->
											<li
												th:class="${(tableResult.pageNumber + 1) eq i} ? 'active' : ''"
												th:if="${(tableResult.pageNumber+1) le 4}"
												th:each="i : ${#numbers.sequence(2,5)}"><a
												href="javascript:void(0)" th:pageNum="${i}-1"
												onclick="onChangePage(this)" th:text="${i}"></a></li>
											<li class="disabled"
												th:if="${(tableResult.pageNumber+1) le 4}"><a
												href="javascript:void(0)">...</a></li>
											<!-- 最后一页与当前页面之差，小于等于3 -->
											<li class="disabled"
												th:if="${(tableResult.pageCount-(tableResult.pageNumber + 1)) le 3}">
												<a href="javascript:void(0)">...</a>
											</li>
											<li
												th:each="i : ${#numbers.sequence(tableResult.pageCount-4, tableResult.pageCount-1)}"
												th:class="${(tableResult.pageNumber + 1) eq i} ? 'active' : ''"
												th:if="${(tableResult.pageCount-(tableResult.pageNumber + 1)) le 3}">
												<a href="javascript:void(0)" onclick="onChangePage(this)"
												th:pageNum="${i} - 1" th:text="${i}"></a>
											</li>
											<!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->
											<li class="disabled"
												th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}">
												<a href="javascript:void(0)">...</a>
											</li>
											<li
												th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}">
												<a href="javascript:void(0)"
												th:pageNum="${tableResult.pageNumber}-1"
												th:text="${tableResult.pageNumber}"
												onclick="onChangePage(this)"></a>
											</li>
											<li class="active"
												th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}">
												<a href="javascript:void(0)"
												th:pageNum="${tableResult.pageNumber}"
												th:text="${tableResult.pageNumber}+1"></a>
											</li>
											<li
												th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}">
												<a href="javascript:void(0)" onclick="onChangePage(this)"
												th:pageNum="${tableResult.pageNumber}+1"
												th:text="${tableResult.pageNumber}+2"></a>
											</li>
											<li class="disabled"
												th:if="${((tableResult.pageNumber + 1) gt 4) && ((tableResult.pageCount-(tableResult.pageNumber + 1)) gt 3 )}">
												<a href="javascript:void(0)">...</a>
											</li>
											<!--最后一页-->
											<li
												th:class="${(tableResult.pageNumber + 1) eq tableResult.pageCount} ? 'active' : ''">
												<a href="javascript:void(0)"
												th:pageNum="${tableResult.pageCount-1}"
												onclick="onChangePage(this)"
												th:text="${tableResult.pageCount}"></a>
											</li>
											<!--下一页-->
											<li
												th:class="${tableResult.pageNumber eq tableResult.pageCount-1}? 'disabled' : ''">
												<a href="javascript:void(0)"
												th:if="${tableResult.pageNumber!=tableResult.pageCount-1}"
												onclick="onChangePage(this)"
												th:attr="pageNum=${tableResult.pageNumber+1}">»</a> <a
												href="javascript:void(0)"
												th:if="${tableResult.pageNumber==tableResult.pageCount-1}">»</a>
											</li>
											<li><span class="rows"
												th:text="'共'+${tableResult.total}+'条记录'"></span></li>
										</ul>
									</ul>
										</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
				<script type="text/javascript"
		src="/admin/libs/lyui/dist/js/lyui.extend.min.js"></script>
	<script type="text/javascript">		
	function changeDateFormat(value) {//日期格式化
		var date = new Date();
		date.setTime(value * 1000);
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		m = m < 10 ? ('0' + m) : m;
		var d = date.getDate();
		d = d < 10 ? ('0' + d) : d;
		var h = date.getHours();
		h = h < 10 ? ('0' + h) : h;
		return y + '-' + m + '-' + d;
	}

	$('.dateFormater').each(function(index, element) {
		$(element).text(changeDateFormat($(element).text()))
	})
                                                            
		//搜索功能
	function searchNews() {
		var keyword = $('#keyword').val();
		var href = '/Adminmall/Comment/sellercomment?pageNumber=0&pageSize=10';
		href += "&keyword=" + keyword;
		location.href = href;
	}
	//回车搜索
	$(document).on('keydown', '.search-input', function(e) {
		if (e.keyCode === 13) {
			$(this).closest('form').find('.search-news').click();
			return false;
		}
	});
		function onChangePage(event) {//点击分页钮跳转
			var href = location.href;//获取
			var typeText = $("#typeText").val();
			var index = href.indexOf("pageNumber")
			if (index == -1) {
				href += "?pageNumber=0&pageSize=10";
			}
			index = href.indexOf("pageNumber");
			indexhhh = href.indexOf("?");
			var index2 = href.indexOf("&");
			if (typeText == null || typeText == '') {
				var prefix = href.substr(0, indexhhh + 1);//获取?前的文本
			} else {
				var prefix = href.substr(0, index);//获取pageNumber前的文本
			}
			var end = href.substr(index2, href.length);//获取&后的文本
			href = prefix + "pageNumber=" + $(event).attr("pageNum") + end;//重写url
			location.href = href;
		}	
		</script>
</body>

</html>