<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
<link rel="stylesheet" href="/home/wap/home/css/style.css">
<link rel="stylesheet" href="/admin/layer/mobile/need/layer.css">
<title>华彩天下</title>
</head>
<body>
	<div class="yhqy">
		<h3>消费商</h3>
		<p>具有购买商家享受商家奖励积分累积权</p>
		<p>具有会员推荐权，可邀请他人注册，并成为他人分享人</p>
	</div>

	<div class="yhqy">
		<h3>创客</h3>
		<p>可获收益：</p>
		<p>a.销售奖励（华宝）20%</p>
		<p>b.开发销售渠道奖励（积分）1%*5倍*消费金额（仅限直接分享用户）</p>
		<p>c.开发销售渠道奖（积分）0.5%*5倍*销售金额（仅限直接分享用户）</p>
		<p>d.市场管理服务奖（积分）（销售奖励、开发销售渠道奖、开发销售渠道奖）50%</p>

	</div>

	<div class="yhqy">
		<h3>创投</h3>
		<p>可获收益：</p>
		<p>a.销售奖励（华宝）20%</p>
		<p>b.开发销售渠道奖励（积分）1%*5倍*消费金额（仅限直接分享用户）</p>
		<p>c.开发销售渠道奖（积分）0.5%*5倍*销售金额（仅限直接分享用户）</p>
		<p>d.市场管理服务奖（积分）（销售奖励、开发销售渠道奖、开发销售渠道奖）50%</p>
		<p>e.分享代理商（华宝）20%*认购代理费（仅限直接分享用户）</p>
	</div>



	<div style="padding-bottom: 10vmin"></div>
</body>
</html>