@charset "UTF-8";
html,head,body{margin: 0px;padding: 0px;max-width: 320px;margin: 0 auto;}
body{font-size: 12px;font-family: "Microsoft YaHei，Helvitica,Verdana,Tohoma,Arial";color:#000;height: 100%;width: 100%;}
img{border:0;max-width: 320px;}