<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common/includ" />
<head th:replace="common/layout" />
<body>
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
			<li><i class="fa fa-map-marker"></i></li>
			<li class="text-muted">系统</li>
            <li class="text-muted">系统功能</li>
			<li class="text-muted">管理员管理</li>
		</ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                        
                        <div class="form-group"></div>

                        <!-- 顶部工具栏按钮 -->
                        <div class="builder-toolbar">
                            <div class="row">
                                <!-- 工具栏按钮 -->
                                    <div class="col-xs-12 col-sm-8 button-list clearfix">
                                        <div class="form-group">
                                            <a title="新增" class="btn btn-primary-outline btn-pill" th:href="@{/Admin/Manage/edit}">新增</a>&nbsp;
                                            <a title="启用" target-form="ids" class="btn btn-success-outline btn-pill ajax-post confirm" model="Admin" th:href="@{/Admin/Manage/enableList}">启用</a>&nbsp;
                                            <a title="禁用" target-form="ids" class="btn btn-warning-outline btn-pill ajax-post confirm" model="Admin" th:href="@{/Admin/Manage/disableList}">禁用</a>&nbsp;
                                            <a title="删除" target-form="ids" class="btn btn-danger-outline btn-pill ajax-post confirm" model="Admin" th:href="@{/Admin/Manage/deleteList}">删除</a>&nbsp;                   
                                        </div>
                                    </div>

                                <!-- 搜索框 -->
                                <div class="col-xs-12 col-sm-4 clearfix">
                                    <form class="form" method="get" action="">
                                        <div class="form-group">
                                            <div class="input-group search-form">
                                                <input type="text" name="keyword" class="search-input form-control" th:value="${tableResult.keyword}" placeholder="请输入ID/用户名／昵称">
                                                <span class="input-group-btn"><a class="btn btn-default search-btn"><i class="fa fa-search"></i></a></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 数据列表 -->
                        <div class="builder-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="builder-table">
                                        <div class="panel panel-default table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                              <thead>
                                                <tr>
                                                    <th>
                                                        <input class="check-all" type="checkbox">
                                                    </th>
                                                    <th>UID</th>
                                                    <th>昵称</th>
                                                    <th>用户名</th>
                                                    <th>角色</th>
                                                    <th>注册时间</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                                        <tr th:if="${tableResult.rows.size() gt 0}" th:each="row,rowStat : ${tableResult.rows}">
                                                            <td>
                                                                <input class="ids" type="checkbox" th:value="${row.id}" name="ids">
                                                            </td>
                                                            <td><span th:text="${row.id}"></span></td>
                                                            <td><span th:text="${row.nickname}"></span></td>
                                                            <td><span th:text="${row.username}"></span></td>
                                                            <td><span th:text="${row.groupEntity.title}"></span></td>
                                                            <td class="dateFormater" th:text="${row.createTime}"></td>
                                                            <td th:if="${row.status == 1}"><i class="fa fa-check text-success"></i></td>
                                                            <td th:unless="${row.status == 1}"><i class="fa fa-ban text-danger"></i></td>
                                                            <td>
                                                                <a name="edit" title="编辑" class="label label-primary-outline label-pill" th:href="@{'/Admin/Manage/edit/id/'+${row.id}}">编辑</a>
                                                                <a th:unless="${row.id == 1}" th:if="${row.status == 1}" name="forbid" title="禁用" class="label label-warning-outline label-pill ajax-get confirm" th:href="@{'/Admin/Manage/disable/id/'+${row.id}}">禁用</a>
                                                                <a th:unless="${row.id == 1}" th:if="${row.status != 1}" name="forbid" title="启用" class="label label-success-outline label-pill ajax-get confirm" th:href="@{'/Admin/Manage/enable/id/'+${row.id}}">启用</a>
                                                                <a th:unless="${row.id == 1}" name="delete" title="删除" class="label label-danger-outline label-pill ajax-get confirm" model="Admin" th:href="@{'/Admin/Manage/delete/id/'+${row.id}}">删除</a>
                                                           </td>
                                                        </tr>
                                                        <tr class="builder-data-empty" th:if="${tableResult.rows.size() eq 0}">
                                                            <td class="text-center empty-info" colspan="20">
                                                                <i class="fa fa-database"></i> 暂时没有数据<br>
                                                            </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                           <ul th:replace="/common/page"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
    </div>                   
</div>
</body>
<script>
	function changeDateFormat(value) {//日期格式化
		var date = new Date();
		date.setTime(value * 1000);
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		m = m < 10 ? ('0' + m) : m;
		var d = date.getDate();
		d = d < 10 ? ('0' + d) : d;
		var h = date.getHours();
		h = h < 10 ? ('0' + h) : h;
		var minute = date.getMinutes();
		var second = date.getSeconds();
		minute = minute < 10 ? ('0' + minute) : minute;
		second = second < 10 ? ('0' + second) : second;
		return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
	}

	$('.dateFormater').each(function(index, element) {
		$(element).text(changeDateFormat($(element).text()))
	})
</script>
</html>